@import "./variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// *,
// html {
//   font-size: 14px;
//   @media screen and (min-width: 768px) {
//     font-size: 16px;
//   }
// }
*{
    margin: 0;
    padding: 0;
}

header{
background-image: url(../images/headerImage.png);
  height: 100vmin;
  width: 100%;
  background-position: center;
  background-size: cover;
  nav{
    background: linear-gradient(269.99deg,
     #000000 14.57%, rgba(0, 0, 0, 0.928298) 51.44%,
      rgba(0, 0, 0, 0.145493) 103.43%, rgba(0, 0, 0, 0) 103.43%);
      // padding: 1rem;
      .logo{
          margin: 0;
        img{
          width: 80px;
        }
        h5{
          color: rgb(253, 144, 221);
          font-size: 16px;
          font-weight: bold;
          margin: 0;
          span{
            color: rgb(126, 180, 231);
          font-size: 16px;
          font-weight: bold;
          line-height: 0;
          margin: 0;
          }
        }
        p{
          font-size: 11px;
          color: #535353;
        }
      }
      .mainmenu{
        ul{
          display: flex;
          align-items: center;
          // align-items: center;
        li{
          list-style: none;
          a{
            height: 50px;
              line-height: 50px;
              padding: 0 20px;
              text-decoration: none;
              color: #fff;
              display: block;
              text-transform: uppercase;
              &.active{
                color: #fff;
                background: rgb(102, 101, 101);
                border-bottom: 1px solid #f30b0b ;
                transform: .5s;
              }
              &:hover {
                color: #fff;
                background: rgb(102, 101, 101);
                transform: .5s;
                border-bottom: 1px solid #f30b0b ;
              }
          }
          .drop_menu{
            background: black;
            width: 150px;
            position: absolute;
            padding: 2px 2px;
            transition: all 0.8s linear;
            top: 55px;
            display: none; 
            .submenu{
              text-align: center;
                &:not(:last-child){
                  border-bottom: 1px solid #fff;
                }
            }
          }
          &:hover .drop_menu{
            display: block;
          }
        }
        .btn{
          background: linear-gradient(94.14deg, #F30B0B -12.72%, rgba(15, 11, 182, 0.92) 115.37%);
        border-radius: 10px;
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        text-transform: uppercase;
        // margin-left: 2rem;
        }
      }

    }
          
    
    .navMenu {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 1px;
        right: 30px;
        color: #fff;
        font-size: 50px;
        font-weight: 500;
        cursor: pointer;
     
    }
    .closeMenu{
      // position: relative;
      // top: 50px;
      // text-align: center;
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      font-size: 70px;
      cursor: pointer;
    }
  }
  .banner{
    height: 80vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   div{
    h3{
      font-family: 'Montserrat', sans-serif;
      font-size: 60px;
      font-style: normal;
      font-weight: 800;
      line-height: 64px;
      color: #fff;
      letter-spacing: 0em;
      text-align: center;
    }
    .connect-2{
      text-align: center;
      padding-top: 1rem;
      .btn{
        background: linear-gradient(94.14deg, #F30B0B -12.72%, rgba(15, 11, 182, 0.92) 115.37%);
        border-radius: 10px;
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        text-transform: uppercase;
      }
    }
   }
  }
}

.section-1{
      .our-service{
        text-align: center;
        width: 100%;
        padding: 2rem;
        .line{
          display: flex;
          align-items: center;
          justify-content: center;
          h4{
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 800;
            font-style: normal;
            margin: 0px 5px; 
          }
          .line-1{
            width: 30px;
            height: 2px;
            background-color: #000000;
          }
        }
        .vision{
          width: 100%;
          display: flex;
          justify-content: center;
          .vision-1{
            width: 60%;
          }
        }
      }
      .learn-more-1{
        display: flex;
        justify-content: center;
        .learn-more{
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: #fff;
          background-color: #2d3fa2;
          .box-1{
            width: 33.3%;
            line-height:18.29px;
            font-family: inherit;
            // border-right: #fff 2px solid;
            font-size: 12px;
            .box-x{
              padding: 1rem;
              .connect-2{
                text-align: center;
                padding-top: 1rem;
                .btn{
                  background: linear-gradient(94.14deg, #F30B0B -12.72%, rgba(15, 11, 182, 0.92) 115.37%);
                  border-radius: 10px;
                  color: #fff;
                  padding: 0.5rem 1rem;
                  border: none;
                  text-transform: uppercase;
                }
              }
            }
          }
          .line-right{
            width: 2px;
            height: 80%;
            background-color: #fff;
          }
          .box-2{
            width: 33.3%;
            line-height:18.29px;
            font-family: inherit;
            font-size: 13px;
          }
        }
      }
}

@media screen and (max-width: 750px){
  header{
    nav{
      .mainmenu{
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 9999999;
        left: 0;
        top: 0;
        background-color: rgb(10, 32, 228) ;
        background-color: rgba(15, 11, 182, 0.92);
        overflow-y: hidden;
        transform: 0.5s;
        ul{
          flex-direction: column;
          position: relative;
          top: 50px;
          justify-content: center;
          li{
            .btn{
            margin-left: -2rem;
            }
          }

        }
      }
    }
    .banner{
      width: 100%;
       justify-content: center;
       align-items: center;
      div{
        h3{
          font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 24px;
        }
      }
 }
  }

  .section-1{
    .learn-more-1{
      // background-color: red;
      .learn-more{
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        background-color: #fff;
        .box-1{
          width: 80%;
          line-height:18.29px;
          background-color: #2d3fa2;
          margin-top: 2rem;
          font-family: inherit;
          // border-right: #fff 2px solid;
          font-size: 12px;
          .box-x{
            padding: 1rem;
            .connect-2{
              text-align: center;
              padding-top: 1rem;
              .btn{
                background: linear-gradient(94.14deg, #F30B0B -12.72%, rgba(15, 11, 182, 0.92) 115.37%);
                border-radius: 10px;
                color: #fff;
                padding: 0.5rem 1rem;
                border: none;
                text-transform: uppercase;
              }
            }
          }
        }
        .line-right{
          width: 2px;
          height: 80%;
         background-color: royalblue;
        }
        .box-2{
          width: 33.3%;
          line-height:18.29px;
          font-family: inherit;
          font-size: 13px;
        }
      }
    }
  }
  
}










